/************************************************************************************************************/
/********************************************* media queries ************************************************/
/************************ New rules if the screen is at more 1199px and least 1400px ************************/
@media screen and (min-width: 1200px) and (max-width: 1400px){

    /**********************************************************************************************/
    /********************************************* main *******************************************/
    /**********************************************************************************************/

    /*************************************** restaurant *******************************************/
    .restaurant__choice{
        height: 350px;
    }
    .new{
        margin-top: -320px;
    }
    .restaurant__choice__imgBox{
        height: 250px;
    }
    .img-r-la-note-enchantee{
        margin-top: -250px;
    }
    .img-r-le-delice-des-sens{
        margin-top: -110px;
    }
    .fa-heart--restaurantPosition{
        right: 6%;
    }
}