/********************************************* media queries ************************************************/
/********************************** New rules if the screen is at more 552px ********************************/
@media screen and (min-width: 553px){

    /**********************************************************************************************/
    /********************************************* main *******************************************/
    /**********************************************************************************************/

    /*************************************** restaurant *******************************************/
    .restaurant__choice{
        height: 300px;
    }
    .restaurant__choice__imgBox{
        height: 224px;
    }
    .img-r-la-note-enchantee{
        margin-top: -240px;
    }
    .img-r-a-la-francaise{
        margin-top: -100px;
    }
    .img-r-le-delice-des-sens{
        margin-top: -100px;
    }
}