/************************************************************************************************************/
/********************************************* media queries ************************************************/
/********************************** New rules if the screen is at more 650px ********************************/
@media screen and (min-width: 651px){

    /**********************************************************************************************/
    /********************************************* main *******************************************/
    /**********************************************************************************************/

    /*************************************** restaurant *******************************************/
    .img-r-la-palette-du-gout{
        margin-top: -130px;
    }
    .img-r-la-note-enchantee{
        margin-top: -330px;
    }
    .img-r-a-la-francaise{
        margin-top: -160px;
    }
    .img-r-le-delice-des-sens{
        margin-top: -170px;
    }
    .fa-heart--restaurantPosition{
        right: 10%;
    }
}