/************************************************************************************************************/
/********************************************* media queries ************************************************/
/************************ New rules if the screen is at more 1199px and least 1400px ************************/
@media screen and (min-width: 1200px) and (max-width: 1400px){

    /**********************************************************************************************/
    /******************************************** header ******************************************/
    /**********************************************************************************************/
    .nav__food__picture__img{
      margin-top: -260px;
    }
    .img-la-note-enchantee{
        margin-top: -420px;
    }
    .img-a-la-francaise{
      margin-top: -300px;
    }
    .img-le-delice-des-sens{
      margin-top: -310px;
    }
}