/************************************************************************************************************/
/********************************************* media queries ************************************************/
/********************************** New rules if the screen is at more 991px ********************************/
@media screen and (min-width: 992px){

    /**********************************************************************************************/
    /******************************************** header ******************************************/
    /**********************************************************************************************/
    .nav__food__picture{
        height: 540px;
        padding-top: 0px;
    }
    .nav__food__picture__img{
      margin-top: -180px;
    }
    .img-la-note-enchantee{
      margin-top: -290px;
    }

    /**********************************************************************************************/
    /********************************************* main *******************************************/
    /**********************************************************************************************/
    .fa-heart--mealPosition{
        right: 60px;
        margin-top: 30px;
    }
}