/************************************************************************************************************/
/********************************************* media queries ************************************************/
/********************************* New rules if the screen is at more 650px *********************************/
@media screen and (min-width: 651px){

    /**********************************************************************************************/
    /******************************************** header ******************************************/
    /**********************************************************************************************/
    .img-la-palette-du-gout{
        margin-top: -160px;
    }
    .img-la-note-enchantee{
        margin-top: -260px;
    }
    .img-a-la-francaise{
        margin-top: -170px;
    }
    .img-le-delice-des-sens{
        margin-top: -190px;
    }
}