/************************************************************************************************************/
/********************************************* media queries ************************************************/
/********************************* New rules if the screen is at more 552px *********************************/
@media screen and (min-width: 553px){

    /**********************************************************************************************/
    /******************************************** header ******************************************/
    /**********************************************************************************************/
    .nav__food__picture{
        height: 320px;
        padding-top: 0px;
    }
    .nav__food__picture__img{
        margin-top: -90px;
    }
    .img-la-note-enchantee{
        margin-top: -170px;
    }
    .img-a-la-francaise{
        margin-top: -95px;
    }
    .img-le-delice-des-sens{
        margin-top: -90px;
    }
}